
<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}SALESORDER{% endtrans %}</title>
<link href="{{request.static_url('gkwebapp:static/css/purchaseorder.css')}}" rel="stylesheet" type="text/css">
<body style="padding-right:1%;">
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
      {% if status|int == 16%}
	{% trans %}Purchase Order saved.{% endtrans %}
      {% else %}
	{% trans %}Sales Order saved.{% endtrans %}
	{% endif %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Duplicate Order no.!{% endtrans %}
    </div>
    <div class="panel salesorder_panel shadow">
      <div class="panel-body">
        <div class="container-fluid row">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>
	    <label >
              {% if status|int ==16 %}
		{% trans %}Please select a supplier!{% endtrans %}
              {% else %}
		{% trans %}Please select a customer!{% endtrans %}
              {% endif %}
            </label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter Order no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="issuer-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter issuer's details!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

            {% trans %}Please enter date within the financial year!{% endtrans %}
          </div>
	  <div class="alert alert-danger" id="gstin-improper-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Improper GSTIN!{% endtrans %}

          </div>
	  <div class="alert alert-danger" id="consignee-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please enter Consignee Name if you want to save Details of Consignee!{% endtrans %}

          </div>

	  <div class="alert alert-danger" id="consignee-name-blank-alert"  aria-live="rude" role="alert" hidden>
            {% trans %}Please enter Consignee Name!{% endtrans %}
          </div>

	  <div class="alert alert-danger" id="consignee-add-blank-alert"  aria-live="rude" role="alert" hidden>
            {% trans %}Please enter Consignee Address!{% endtrans %}
          </div>
	  
	  <div class="alert alert-danger" id="address-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please enter Address!{% endtrans %}

          </div>
	  <div class="alert alert-danger" id="packages-more-alert"  aria-live="rude" role="alert" hidden>
            {% trans %}Number of Packages in schedule must be less than Total Number of Packages!{% endtrans %}
          </div>
          <form class="form-horizontal" >
	    <div class="col-md-12">
	      <div class="form-inline">
		{% if status|int == 19 %}
		  {% trans %}<h4>Details of Sales Order: </h4>{% endtrans %}
		{% else %}
		  {% trans %}<h4>Details of Purchase Order: </h4>{% endtrans %}
		{% endif %}
		</div>
	    </div>
	    <div class="col-md-12">
	      <div class="col-md-6 nopadding">
		<div class="form-group form-inline">
		  <label class="fsize col-sm-4" for="salesorder_challanno">{% trans %}Order No{% endtrans %} : <label for="salesorder_challanno" style="color:red;font-size:120%;">*</label></label>
		  <input class="form-control col-sm-8 input-sm" size="15" id="salesorder_challanno" maxlength="16" >
		</div>
		<div class="form-group form-inline">
		  <label for="salesorder_date" class="col-sm-4 fsize">{% trans %}Order Date{% endtrans %} : <label for="salesorder_date" style="color:red;font-size:120%;">*</label></label>
		  <input type="text" class="form-control input-sm salesorderdate" size="2" maxlength="2" placeholder="DD" id="salesorder_date" accesskey="v">
                  <input type="text" class="form-control input-sm salesorderdate" size="2" maxlength="2" placeholder="MM" id="salesorder_month" accesskey="v">
                  <input type="text" class="form-control input-sm salesorderdate" size="4" maxlength="4" placeholder="YYYY" id="salesorder_year" accesskey="v">
                </div>
		<div class="form-group form-inline">
		  <label for="salesorderstate" class="col-sm-4 fsize">{% trans %}State of Origin{% endtrans %} :</label>
		  <select class="form-control input-sm col-sm-8" id="salesorderstate" aria-describedby="statecodeforsalesorder">
                    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
                  </select>
		</div>
		<div class="form-group form-inline">
		  <label class="fsize col-sm-4" for="statecodeforsalesorder">{% trans %}State Code{% endtrans %} :</label>
		  <label class="nopadding fsize col-sm-8" id="statecodeforsalesorder"></label>
		</div>
		{% if status|int == 16 %}
		  <div class="form-group form-inline">
		    <label for="originaddress" class="fsize col-md-4">{% trans %}Address :{% endtrans %} <label for="originaddress" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" id="originaddress" class="form-control input-sm col-sm-8" name="originaddress" size="30"></input>
		  </div>
		{% endif %}
	      </div>
	      <div class="col-md-6 borderdiv">
		  {% if resultgstvat != '22' %}
		    <div class="form-group form-inline" hidden>
		      <label class="fsize gstinfield col-sm-4" for="orggstin">{% trans %}GSTIN{% endtrans %} :</label>
		      <label class="nopadding fsize gstinfield" id="orggstin"></label>
		    </div>
		  {% endif %}
         	  <div class="form-group form-inline">
         	    <label for="payterms" class="col-sm-4">{% trans %}Terms{% endtrans %} :</label>
         	    <input id="payterms" type="text" class="form-control input-sm col-sm-8" name="payterms" size="30"></input>
         	  </div>
		  <div class="form-group form-inline">
         	    <label for="creditperiod" class="col-sm-4">{% trans %}Credit Period{% endtrans %} :</label>
         	    <input id="creditperiod" type="text" class="form-control input-sm col-sm-8" name="creditperiod" size="30"></input>
         	  </div>
		  <div class="form-group form-inline">
		    {% if status|int == 19 %}
		      <label for="togodown" class="col-sm-4">{% trans %}To be Dispatched From{% endtrans %} :</label>
		    {% else %}
		    <label for="togodown" class="col-sm-4">{% trans %}To be Delivered At{% endtrans %} :</label>
		    {% endif %}
		      <select class="form-control input-sm col-sm-8" id="togodown">
		      <option value="0">None</option>
		      {% for godown in godowns %}
			<option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
		      {% endfor %}
		    </select>
		  </div>
		  {% if status|int == 16 %}
		    <div class="form-group form-inline purchaseorder_issuer">
		      <label class="col-sm-4 fsize" for="purchaseorder_issuer_name">{% trans %}Issuer's Name{% endtrans %} : <label for="purchaseorder_issuer_name" style="color:red;font-size:120%;">*</label></label>
		      <input class="form-control input-sm col-sm-8" id="purchaseorder_issuer_name" placeholder="{% trans %}Issuer's name{% endtrans %}" accesskey="a" aria-label="{% trans %}Issuer's Name{% endtrans %}">
		    </div>
		    <div class="form-inline form-group purchaseorder_issuer">
		      <label class="col-sm-4 fsize">{% trans %}Designation{% endtrans %} : <label for="purchaseorder_issuer_name" style="color:red;font-size:120%;">*</label></label>
		      <input class="form-control input-sm col-sm-8" id="purchaseorder_issuer_designation" aria-label="{% trans %}Designation{% endtrans %}" placeholder="{% trans %}Issuer's designation{% endtrans %}">
		    </div>
		  {% endif %}
	      </div>
	    </div>
	    <div class="col-md-12 hborderdiv" style="margin-top:10px;">
	      <div class="col-md-6 nopadding">
		<h4>{% trans %}Details of Receiver | Bill to{% endtrans %} :</h4>
		<div class="form-group form-inline">
		  <label class="col-sm-4 fsize" for="salesorder_customer">
		    {% if status|int == 16 %}
		      {% trans %}Supplier{% endtrans %} :
		    {% else %}
		      {% trans %}Customer{% endtrans %} :
		    {% endif %}
		    <label for="salesorder_customer" style="color:red;font-size:120%;">*</label></label>
		  <select class="form-control input-sm col-sm-8 fsize" id="salesorder_customer" accesskey="" style="font-family:'FontAwesome','Helvetica Neue', Helvetica, Arial, sans-serif;">
			<option value="-1" style="font-family:'FontAwesome','Helvetica Neue', Helvetica, Arial, sans-serif;">
				&#xf067 Add {% if status|int == 16 %}{% trans %}Supplier{% endtrans %}{% else %}{% trans %}Customer{% endtrans %}{% endif %}
			</option>
		    <option value="" disabled hidden selected>
		      {% if status|int == 16 %}
			{% trans %}Select Supplier{% endtrans %}
		      {% else %}
			{% trans %}Select Customer{% endtrans %}
		      {% endif %}
		    </option>
		    {% for customer in customers %}
		      <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
		    {% endfor %}
		  </select>
		</div>
		<div class="form-group form-inline">
		  <label for="salesorder_customerstate" class="col-sm-4 fsize">
		    {% if status|int == 16 %}
		      {% trans %}Supplier State{% endtrans %} :
		    {% else %}
		      {% trans %}Customer State{% endtrans %} :
		    {% endif %}
		  </label>
		  <select id="salesorder_customerstate" class="form-control input-sm col-sm-8">
		    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
		  </select>
		</div>
		<div class="form-group form-inline">
		  <label for="statecodeofcustomer" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		  <label id="statecodeofcustomer" class="col-sm-8 nopadding"></label>
		</div>
		<div class="form-group form-inline tinfield" hidden>
		  <label for="tin" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		  <label type="text" id="tin" class="col-sm-8 nopadding"></label>
		</div>
		<div class="form-group form-inline gstinfield">
		  <label for="gstin" class="col-sm-4 fsize">{% trans %}GSTIN{% endtrans %} :</label>
		  <label type="text" id="gstin" class="col-sm-8 nopadding" name="gstin" ></label>
		</div>
		<div class="form-group form-inline">
		  <label class="col-sm-4 fsize" for="salesorder_customeraddr">
		    {% trans %}Customer Address{% endtrans %} :
		  </label>
		  <label class="col-sm-8 nopadding" id="salesorder_customeraddr" ></label>
		</div>
	      </div>
	      <div class="col-md-6 borderdiv">
		<h4>Details of Consignee | Ship to: </h4>
		<div class="form-group form-inline">
		  <label for="consigneename" class="col-sm-4 fsize">{% trans %}Name{% endtrans %} :</label>
		  <input type="text" id="consigneename" class="col-sm-8 form-control input-sm"></input>
		</div>
		<div class="form-group form-inline">
		  <label for="consigneestate" class="col-sm-4 fsize">{% trans %}State{% endtrans %} :</label>
		  <select class="form-control input-sm col-sm-8" id="consigneestate" >
                    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
                  </select>
		</div>
		<div class="form-group form-inline">
		  <label for="statecodeofconsignee" class="col-sm-4 fsize">{% trans %}State Code{% endtrans %} :</label>
		  <label id="statecodeofconsignee" class="col-sm-8 nopadding"></label>
		</div>
		<div class="form-group form-inline tinfield" hidden>
		  <label for="tinconsignee" class="col-sm-4 fsize">{% trans %}TIN{% endtrans %} :</label>
		  <input type="text" id="tinconsignee" class="col-sm-8 form-control input-sm" name="tinconsignee"></input>
		</div>
		<div class="form-group form-inline gstinfield">
		  <label for="gstinconsignee" class="col-sm-4 fsize" >{% trans %}GSTIN{% endtrans %} :</label>
		  <input type="text" id="gstinconsignee" class="col-sm-8 form-control input-sm gstin" name="gstinconsignee" maxlength="15"></input>
		</div>
		<div class="form-group form-inline">
		  <label for="consigneeaddress" class="col-sm-4 fsize">{% trans %}Consignee Address :{% endtrans %}</label>
		  <input type="text" id="consigneeaddress" class="col-sm-8 form-control input-sm" name="consigneeaddress"></input>
		</div>

	      </div>
	    </div>
	    <a id="taxapplicablescroll"></a>
	    <div class="col-md-12">
	      <div class="col-md-3 nopadding">
		<label for="taxapplicabletext" name="taxflag">{% trans %}Tax Applicable{% endtrans %} : </label>
		{% if resultgstvat == '29' or resultgstvat == '7' %}
		  <label id="taxapplicabletext" class="">GST</label>
		  <input type="text"  id="taxapplicable" value="7" accesskey="" hidden>
		{% else %}
		  <label id="taxapplicabletext" >VAT</label>
		  <input type="text"  id="taxapplicable" value="22" accesskey="" hidden>
		{% endif %}
	      </div>
		<input type="hidden" id="status" value="{{status}}">
	    </div>
	    <div class="col-md-12">
	      <div class="alert alert-warning" id="notax-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}You have not entered tax for product(s)!{% endtrans %}
	      </div>
	      <div class="alert alert-warning" id="sometax-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}You have not entered tax for one of the products!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Please select a product/service!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="product-duplicate-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}A product/service can be selected only once!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Both Bill Quantity and Free Quantity cannot be zero!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="discount-more-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Discount is more than Rate!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="allquantities-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}All product quantities cannot be zero!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="quantity-exceed-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Sum of Bill Quantity and Free Quantity cannot be greater than Quantity specified in the delivery note!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-danger" id="price-blank-alert"  aria-live="rude" role="alert" hidden>

		<label >{% trans %}Rate must not be empty or zero!{% endtrans %}</label>
	      </div>
	      {% if resultgstvat == '29' or resultgstvat == '22' %}
		{% if resultgstvat == '22' %}
		  <div class="col-sm-12" style="margin-bottom:10px; padding:5;">
		    <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		    <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Sales Order. Press 'Esc' key to exit from the table.</small>
		  </div>
		  <table id="salesorder_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase">
		{% else %}
		    <div class="col-sm-12" style="margin-bottom:10px; padding:5;" id="vathelp" hidden>
		      <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		      <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Sales Order. Press 'Esc' key to exit from the table.</small>
		    </div>
		    <table id="salesorder_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" hidden>
		{% endif %}
		<thead class="bg-primary">
		  <tr>
		    <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
		    <th class="qtyvwrap text-center">{% trans %}Bill Quantity{% endtrans %}</th>
		    <th class="qtyvwrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
		    <th class="qtyvwrap text-center">{% trans %}No Of Packages{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Rate{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
		    <th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
		    <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
		    <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
		    <th class="crosswrap"></th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td class="mdvwrap">
		      <select class="form-control input-sm product_name_vat">
			<option value="" disabled hidden selected>Select Product</option>
			{% for product in products %}
			  <option value="{{product['productcode']}}">{{product["productdesc"]}}</option>
			{% endfor %}
		      </select>
		    </td>
		    <td class="qtyvwrap">
		      <div class="input-group">
			<input type="text" class="salesorder_product_quantity_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm unitaddon_quantity_vat"></span>
		      </div>
		    </td>
		    <td class="qtyvwrap">
		      <div class="input-group">
			<input type="text" class="salesorder_product_freequantity_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm unitaddon_freequantity_vat"></span>
		      </div>
		    </td>


		    <td class="qtyvwrap">
		      <input type="text" class="salesorder_product_noofpackages_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>

		    
		    <td class="smvwrap">
		      <input type="text" class="salesorder_product_per_price_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>
		    <td class="smvwrap">
		      <input type="text" class="salesorder_product_discount_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>

		    <td class="smvwrap">
		      <input type="text" class="salesorder_product_taxablevalue_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10" disabled>
		    </td>
		    <td class="ratewrap">
		      <input type="text" class="salesorder_product_tax_rate_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" size="10">
		    </td>
		    <td class="smvwrap">

		      <input  size="10" class="salesorder_product_tax_amount_vat form-control text-right numtype"  value="0.00" placeholder="0.00" disabled>
		    </td>
		    <td class="smvwrap">
		      <input size="10" type="text" class="salesorder_product_total_vat form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
		    </td>
		    <td class="crosswrap">
		      <a href="#" class="product_add" style="margin-bottom:3px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
		    </td>
		  </tr>
		</tbody>
		<tfoot>
		  <tr>
		    <td colspan="5" class="text-right">
		      {% trans %}Total{% endtrans %}
		    </td>
		    <!--  Total : ptotal       -->
		    <td class="smvwrap">
		      <input type="text" id="discounttotal_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="smvwrap">
		      <input type="text" id="taxablevaluetotal_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="ratewrap">

		    </td>
		    <td class="smvwrap">
		      <input type="text" id="totaltax" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="smvwrap">
		      <input type="text" id="total_product_vat" class=" form-control input-sm text-right" value="0.00" size="10" disabled>
		    </td>
		    <td class="crosswrap">

		    </td>
		  </tr>
		</tfoot>

		    </table>
	      {% endif %}
	      {% if resultgstvat == '29' or resultgstvat == '7' %}
		<div class="row col-sm-12" id="gstproducttable">
		  <div class="col-sm-12" style="border: solid black 1px;margin-bottom:10px; padding:10;">
		    <div class="row col-sm-12 text-primary">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</div>
		    <small class="row col-sm-12 form-text text-muted">Use 'Ctrl + <' or 'Ctr + >' to navigate horizontally and 'Shift + <' or 'Shift + >' to navigate vertically.</small>
		    <small class="row col-sm-12 form-text text-muted">Press 'Insert' key to save Salesorder. Press 'Esc' key to exit from the table.</small>
		  </div>
		  <div class="col-sm-10" style="overflow-x:scroll;">
		    <div class="row">
		      <table id="salesorder_product_table_gst_heading" class="nopadding table table-condensed table-bordered" style="width:140%; max-width:140%">
			<thead class="bg-primary">
			  <tr>
			    <th rowspan="2" class="mdwrap text-center">{% trans %}Product/ Service{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %} HSN/ ACS Code{% endtrans %}</th>
			    <th rowspan="2" class="qtywrap text-center">{% trans %}Bill Quantity{% endtrans %}</th>
			    <th rowspan="2" class="qtywrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
			    <th rowspan="2" class="qtywrap text-center">{% trans %}No Of Packages{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Rate{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
			    <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}CGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}SGST/UTGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center igstfield">{% trans %}IGST{% endtrans %}</th>
			    <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
			  </tr>

			  <tr>
			    <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="sgstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="sgstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="igstfield text-center">{% trans %}Rate{% endtrans %} %</th>
			    <th class="igstfield text-center">{% trans %}Amount{% endtrans %}</th>
			    <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
                            <th class="text-center">{% trans %}Amount{% endtrans %}</th>
			  </tr>
			</thead>
		      </table>
		    </div>
		    <div class="row">
		      <table id="salesorder_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%; overflow-x:hidden;overflow-y:scroll;">
			<tbody>
			  <tr>
			    <td class="mdwrap">
			      <select class="form-control input-sm product_name_gst">
				<option value="" disabled hidden selected>Select Product</option>
				{% for product in productsnservices %}
				  <option value="{{product['productcode']}}" gsflag="{{product["gsflag"]}}">{{product["productdesc"]}}</option>
				{% endfor %}
			      </select>
			    </td>
			    <td class="smwrap text-center" style="vertical-align:middle;">
			      <label class="salesorder_product_hsncode text-center"></label>
			    </td>
			    <td class="qtywrap">
			      <div class="input-group">
				<input type="text" class="salesorder_product_quantity_gst form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" aria-describedby="unitaddon">
				<span class="input-group-addon input-sm unitaddon_quantity_gst"></span>
			      </div>
			    </td>
			    <td class="qtywrap">
			      <div class="input-group">
				<input type="text" class="salesorder_product_freequantity_gst form-control input-sm text-right numtype smwrap" size="8" value="0.00" placeholder="0.00" aria-describedby="unitaddon">
				<span class="input-group-addon input-sm unitaddon_freequantity_gst"></span>
			      </div>		      </td>

			    <td class="qtywrap">
			      <input type="text" class="salesorder_product_noofpackages_gst form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00">
			    </td>

			    <td class="smwrap">
			      <input type="text" class="salesorder_product_per_price_gst form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00">
			    </td>
			    <td class="smwrap">
			      <input type="text" class="salesorder_product_discount_gst form-control input-sm text-right numtype" value="0.00" size="9" placeholder="0.00">
			    </td>
			    <td class="smwrap">
			      <input type="text" class="salesorder_product_taxablevalue_gst form-control input-sm text-right numtype" value="0.00" size="9" placeholder="0.00" disabled>
			    </td>

			    <td class="taxcell sgstfield"><input type="text" class="salesorder_product_cgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			    <td class="taxcell sgstfield"><input type="text" class="salesorder_product_cgstamount tamount form-control input-sm text-right numtype" size="8" value="0.00" placeholder="0.00" disabled></td>

			    <td class="taxcell  sgstfield"><input type="text" class="salesorder_product_sgstrate trate form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			    <td class="taxcell sgstfield"><input type="text" class="salesorder_product_sgstamount tamount input-sm form-control text-right numtype" size="9" value="0.00" placeholder="0.00" disabled></td>

			    <td class="taxcell igstfield">
			      <input type="text" class="salesorder_product_igstrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
			      <td class="taxcell igstfield"><input type="text" class="salesorder_product_igstamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
			      </td>
			      <td class="taxcell">
                                <input type="text" class="salesorder_product_cessrate trate input-sm text-right form-control numtype" size="9" value="0.00" placeholder="0.00" disabled></td>
                                <td class="taxcell"><input type="text" class="salesorder_product_cessamount tamount form-control input-sm text-right numtype" size="9" value="0.00" placeholder="0.00" disabled>
                                </td>
                          </tr>
                        </tbody>
		      </table>
		    </div>
		    <div class="row">
		      <table id="salesorder_product_table_gst_tfoot" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
			<tfoot>
			  <tr>
			    <td colspan="5" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
			    <td class="text-right smwrap">  <span id="discounttotal_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td class="text-right smwrap"><span id="taxablevaluetotal_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalcgst_product_gst" class="input-sm text-right" size="8"></span></td>

			    <td colspan="2" class="text-right sgstfield taxwrap"><span id="totalsgst_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right igstfield taxwrap" hidden><span id="totaligst_product_gst" class="input-sm text-right" size="8"></span></td>
			    <td colspan="2" class="text-right taxwrap"><span id="totalcess_product_gst" class="input-sm text-right" size="8"></span></td>
			</tfoot>
		      </table>
		    </div>
		  </div>
		  <div class="col-sm-2 nopadding">
		    <table id="salesorder_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablepurchase">
		      <thead>
			<tr>
			  <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
			  <th class="col-xs-4"></th>
			</tr>
		      </thead>
		      <tbody>
			<tr>
			  <td class="col-xs-8"><input type="text" class="salesorder_product_total_gst form-control input-sm text-right numtype" value="0.00" size="14" placeholder="0.00" disabled></td>
			  <td class="col-xs-4 text-center">
			    <a href="#" class="product_add" style="margin-bottom:3px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			  </td>
			</tr>
		      </tbody>
		      <tfoot>
			<td class="col-xs-8 text-right">
			  <span id="total_product_gst" class="input-sm text-right" size="9"></span>
			</td>
			<td class="col-xs-4">

			</td>
		      </tfoot>
		    </table>
		  </div>
		</div>
	      {% endif %}
	    </div>
	    <div class="row">
	      <div class="form-inline col-sm-6"> 
		<label for="inv">{% trans %}&nbsp &nbsp Payment Details{% endtrans %}:</label>
		<div class="radio">
        	  <label><input type="radio" class="form-control input-sm nopadding" name="chkpaymentmode" id="chkbank" aria-label="" checked>&nbsp {% trans %}Bank{% endtrans %}.</label>
        	</div>
		<div class="radio">
        	  <label><input type="radio" class="form-control input-sm nopadding" name="chkpaymentmode" id="chkcash" aria-label="">&nbsp{% trans %}Cash{% endtrans %}.</label>
        	</div>
	      </div>
	    <div class ="row col-sm-12" >
	      <div class ="col-sm-12">
		<div class="alert alert-danger" id="bankdetails-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please fill all the fields of Bank Details.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="bankname-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter the Bank Name.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="accountno-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter an account  number.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="branch-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter the Branch Name.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="accountno_bankname_branch-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter Account Number, Bank Name and the Branch Name.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="bankname_branch-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter Bank Name and the Branch Name.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="ifsc-blank-alert"  aria-live="rude" role="alert" hidden>
		  {% trans %}Please enter an IFSC Code{% endtrans %}
		</div>
	      </div>
	      <div class="col-sm-4 rborderdiv" style="margin-top:0.2cm;" id="bank">
		<h4>&nbsp &nbspBank Details:</h4>
		<div class="col-sm-12">
		  <div class="form-group form-inline">
		    <label for="accountno" class="col-sm-5">{% trans %}Account No.{% endtrans %} : <label for="accountno" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" id="accountno" class="lastfield form-control input-sm col-sm-7"></input>
		  </div>
		</div>
		<div class="col-sm-12">
		  <div class="form-group form-inline">
		    <label for="bankname" class="col-sm-5">{% trans %}Bank Name{% endtrans %} : <label for="bankname" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" id="bankname" class="lastfield form-control input-sm col-sm-7" name="bankname" ></input>
		  </div>
		</div>
		<br>
		<div class="col-sm-12">
		  <div class="form-group form-inline">
		    <label for="branch" class="col-sm-5">{% trans %}Branch Name{% endtrans %} : <label for="branch" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" id="branch" class="lastfield form-control input-sm col-sm-7" ></input>
		  </div>
		</div>
		<div class="col-sm-12">
		  <div class="form-group form-inline">
		    <label for="ifsc" class="col-sm-5">{% trans %}IFSC code{% endtrans %} : <label for="ifsc" style="color:red;font-size:120%;">*</label></label>
		    <input type="text" id="ifsc" class="lastfield form-control input-sm col-sm-7" name="ifsc" ></input>
		  </div>
		</div>
	      </div><br>
	      <div class="col-sm-4 rborderdiv" style='display:none;' id="cash">
		<div class="col-sm-12">
		  <label style="font-size:120% !important;">{% trans %}CASH PAYMENT{% endtrans %}</label>
		  <br><br><br><br><br><br><br><br><br><br>
 		</div>
	      </div>
	      <div class="col-sm-4">
		<div class="row col-sm-12">
		  <div class="form-inline form-group">
		    <label for="modeoftransport" class="col-sm-5" id="transmode">{% trans %}Mode of Transportation{% endtrans %} :</label>
		    <select type="text" id="modeoftransport" class="col-sm-7 lastfield form-control input-sm">
		      <option value="Road">{% trans %}Road{% endtrans %}</option>
		      <option value="Rail">{% trans %}Rail{% endtrans %}</option>
		      <option value="Air">{% trans %}Air{% endtrans %}</option>
		      <option value="Ship">{% trans %}Ship{% endtrans %}</option>
		      <option value="Other">{% trans %}Other{% endtrans %}</option>
		    </select>
		  </div>
		</div>
		<div class="row col-sm-12">
		  <div class="form-inline form-group" id="vehiclenodiv" hidden>
		    <label for="inv" class="col-sm-5">{% trans %}Vehicle No.{% endtrans %} :</label>
		    <input type="text" id="vehicleno" class="col-sm-7 lastfield form-control input-sm" name="vehicleno"></input>
		  </div>
		</div>
		<div class="row col-sm-12">
		  <div class="col-sm-12">
		    <div class="alert alert-danger" id="supply-date-alert" aria-live="rude" role="alert" hidden>

		      {% trans %}Date of Supply cannot be before Salesorder Date!{% endtrans %}
		    </div>
		    <div class="alert alert-danger" id="supbetween-date-alert" aria-live="rude" role="alert" hidden>

		      {% trans %}Please enter date within the financial year!{% endtrans %}
		    </div>
		    <div class="alert alert-danger" id="supplydate-alert"  aria-live="rude" role="alert" hidden>

		      <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
		    </div>
		  </div>
		  <div class="form-group form-inline">
		    <label for="supply_date" class="col-sm-5">{% trans %}Date of Supply{% endtrans %}:</label>
		    <div class="form-group col-sm-7">
		      <input type="text" class="lastfield form-control input-sm supplydate" size="2" maxlength="2" placeholder="DD" id="supply_date">

		      <input type="text" class="lastfield form-control input-sm supplydate" size="2" maxlength="2" placeholder="MM" id="supply_month">

		      <input type="text" class="lastfield form-control input-sm supplydate" size="4" maxlength="4" placeholder="YYYY" id="supply_year">
  		    </div>
		  </div>
		</div>

		<div  class="row col-sm-12">
		  {% if resultgstvat == '29' or resultgstvat == '22' %}
		    <div class="form-group form-inline reversepurchase" hidden>
		  {% else %}
		      <div class="form-group form-inline reversepurchase">
			{% endif %}
			<label for="inv" class="col-sm-5">{% trans %}Reverse Charge{% endtrans %}:</label>
		    {#<input type="text" id="reversecharge" class="col-sm-7 lastfield form-control input-sm nopadding" name="reversecharge"></input>#}
		    <div class="form-group col-sm-7 nopadding">
		      <div class="radio">
        		<label><input type="radio" class="iib lastfield form-control input-sm nopadding" name="iib" id="rev1radio" aria-label="">&nbsp {% trans %}Yes{% endtrans %}.</label>
        	      </div>
		      <div class="radio">
        		<label><input type="radio" class="iib form-control input-sm nopadding" name="iib" id="rev2radio" aria-label="" checked>&nbsp {% trans %}No{% endtrans %}.</label>
        	      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="col-sm-4">
		<div class="row hborderdiv">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Amount{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="taxableamount" style="font-size:130% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield sgstfield">
		  <div class="form-group sgstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield sgstfield">
		  <div class="form-group sgstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield igstfield">
		  <div class="form-group igstfield form-inline">
		    <div class="col-sm-6">
		      <label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totaligtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv gstfield">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv vatfield">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv">
		  <div class="form-group form-inline">
		    <div class="col-sm-6">
		      <label for="totalinvdiscount" style="font-size:100% !important;">{% trans %}Total Discount{% endtrans %} :</label>
		    </div>
		    <div class="col-sm-6 text-right">
		      <label id="totalinvdiscount" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
		<div class="row hborderdiv" style="border-bottom-style:solid;">
		  <div class="form-group form-inline">
		    <div class="col-sm-7">
		      {% if status|int == 16 %}
			<label for="totalsalesordervalue" style="font-size:100% !important;">{% trans %}Total Purchase Order Value{% endtrans %} :</label>
		      {% else %}
			<label for="totalsalesordervalue" style="font-size:100% !important;">{% trans %}Total Sales Order Value{% endtrans %} :</label>
			{% endif %}
		    </div>
		    <div class="col-sm-5 text-right">
		      <label id="totalsalesordervalue" style="font-size:100% !important; font-weight:normal !important"></label>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class ="col-sm-12">
	      <div class ="col-sm-4 ">
	      </div>
	      <div class ="col-sm-8">
		<br>
		{% if status|int == 16 %}
		  <label for="totalValueInWord" style="font-size:100% !important;">{% trans %}Total Purchase Order Value In Words{% endtrans %} :</label>
		{% else %}
		  <label for="totalValueInWord" style="font-size:100% !important;">{% trans %}Total Sales Order Value In Words{% endtrans %} :</label>
		{% endif %}
		<i><label id="totalValueInWord" style="font-size:100% !important;">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; </label></i>
		<br>
	      </div>
	    </div>
	</div>
	  </form>
      </div>
    
    <div class="panel-footer ">
      <div class="container-fluid">
	<div class="alert alert-danger" id="image-alert"  aria-live="rude" role="alert" hidden>

	  {% trans %}Please upload image in JPG/JPEG format!{% endtrans %}
	</div>
        <button class="btn btn-success btn-sm" accesskey="s" id="salesorder_save" data-toggle="tooltip" data-placement="top" title="Press Insert anywhere on the current screen to save"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
        <button id="salesorder_reset" accesskey="e" class="btn btn-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	{% if status|int == 16 %}
	  <button id="salesorder_addcust" class="btn btn-info btn-sm" accesskey="d"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}A<u>d</u>d Supplier{% endtrans %}</button>
	{% else %}
	  <button id="salesorder_addcust" accesskey="d" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}A<u>d</u>d Customer{% endtrans %}</button>
        {% endif %}
	<label class="btn btn-primary btn-sm" for="my-file-selector">
	  <input name="img" accesskey="h" class="input-sm" id="my-file-selector" type="file" accept="image/*" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
	  <i class="fa fa-paperclip" aria-hidden="true"></i>
	  {% trans %}Attac<u>h</u>{% endtrans %}
	</label>
	<span class='label label-info' id="upload-file-info"></span>
	<small class="form-text text-danger text-muted">(JPG/JPEG images only.)</small>
      </div>
    </div>
  </div>
  <div id="confirm_yes" class="modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans %}Are you sure?{% endtrans %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" id ="tn_save_no" class="btn btn-warning btn-sm" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
            <button type="button" id="tn_save_yes" data-dismiss="modal" class="btn btn-success btn-sm">{% trans %}Yes{% endtrans %}</button>
          </div>
	</div>
      </div>
    </div>
  </div>





  <div id="viewcustsup"></div>
  <input type="hidden" id="selectedcustsup" value="">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addsalesorder.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/numberToWords.js')}}"></script>
</body>
	</html>
