<html>
  <head>
    <style>
      #narration {
        margin-bottom: 15px;
      }
      #split-amount-container {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">

      {% if accounts|length < 1 %}
      <div class="alert alert-warning" id="no-party-accounts" aria-live="rude" role="alert">
      {% if flags.invflag == "0" and flags.invsflag == "0" and flags.billflag == "0" %}
        {% trans %} Please create an account under subgroup Sundry Debtors/Sundry Creditors for Purchase first to create voucher {% endtrans %}
      {% else %}
        {% trans %} Please create a Customer/Supplier account first to create voucher {% endtrans %}
      {% endif %}
      </div>
      {% endif %}
      <div class="alert alert-danger" id="error-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Error loading page.{% endtrans %}
      </div>

      <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Voucher created successfully.{% endtrans %}
      </div>
      
      <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Voucher could not be created.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="vdate-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Date field cannot be empty.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="month-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Month field cannot be empty.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="year-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Year field cannot be empty.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>
          {% trans %}Please enter voucher date in proper format!{% endtrans %}
      </div>

      <div class="alert alert-warning nopadding" id="postdate-alert" aria-live="rude" role="alert" hidden>
          {% trans %}You are entering a post-dated transaction!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="inv-date-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Transaction date cannot be prior to Invoice date!{% endtrans %}
            </div>

      <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>
          {% trans %}Please enter voucher date from within the financial year!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="pname-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Please select a party name!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="amount-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter amount!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="b-amount-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter Bank tranfer amount!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="c-amount-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter Cash tranfer amount!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="amount-zero-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Cannot create voucher with amount 0.00!{% endtrans %}
      </div>


      <div class="alert alert-danger" id="payment-mode-blank"  aria-live="rude" role="alert" hidden>
        {% trans %}Please select payment mode!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="image-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Please upload image in JPG/JPEG format!{% endtrans %}
      </div>


      <div style="padding-top:5px" class="mainbox col-md-6">
        <div class="panel shadow" >

          <div class="panel-heading">
	    {% if vtype == "receipt" %}
	      <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#recVModal"></i>
              <div class="panel-title">Receipt</div>
            {% else %}
	      <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#payVModal"></i>
              <div class="panel-title">Payment</div>
            {% endif %}
          </div>
          <div style="padding-top:5px" class="panel-body">
	    {% if invoicedata!=0 %}
	      {% if invoicecount!=0 %}
		<div class="form-group billhide invhide ">
		  <input id="invhide" value="1" hidden="">
		  <label for="invsel">{% trans %}Select Invoice {% endtrans %} :</label>
            </br>
            <select id="invsel" class="form-control input-sm  invoice_no" >
              <option value="" selected total="">{% trans %}None{% endtrans %}</option>
              {% for invoice in invoicedata %}
		{% if (vtype == "purchase" or vtype == "payment") and invoice["csflag"]|int == 19 %}
                  <option value="{{invoice['invid']}}" total="{{invoice['invoicetotal']}}" customername="{{invoice["custname"]}}" invdate="{{invoice["invoicedate"]}}" balance="{{ invoice['balanceamount'] }}">{{invoice["invoiceno"]}}, {{invoice["invoicedate"]}}, {{invoice["custname"]}}</option>
		{% elif (vtype == "sales" or vtype == "receipt") and invoice["csflag"]|int == 3 %}
                  <option value="{{invoice['invid']}}" total="{{invoice['invoicetotal']}}" customername="{{invoice["custname"]}}" invdate="{{invoice["invoicedate"]}}" balance="{{ invoice['balanceamount'] }}">{{invoice["invoiceno"]}}, {{invoice["invoicedate"]}}, {{invoice["custname"]}}</option>
		{% endif %}
              {% endfor %}
            </select>
		</div>
		<div class="row">
		<div class="form-group invhide billhide col-sm-6" >
		  <label for="invtotal">{% trans %}Total Invoice Amount {% endtrans %} :</label>
		  <div>
		    <input type="text" id="invtotal" class="form-control input-sm" value="0.00" size="15" placeholder="" style="text-align:right;" disabled>
		  </div>
		</div>

		<div class="form-group billhide col-sm-6" >
		  <label for="invbalance">{% trans %}Invoice Balance Amount {% endtrans %} :</label>
		  <div>
		    <input type="text" id="invbalance" class="form-control input-sm" value="0.00" size="15" placeholder=""  style="text-align:right;" disabled>
		  </div>
		</div>
		</div>
	      {% else %}
		<input id="invhide" value="0" hidden="">
	      {% endif %}
	    {% endif %}
            <form id="date" class="form-inline" style="margin:0px">
              <label for="vdate">{% trans %}<u>D</u>ate{% endtrans %} :</label><label for="date" style="color:red;font-size: 120%;">*</label>
              <br/>
              <input type="text" id="vdate" class="date form-control input-sm" size="2" maxlength="2" placeholder="DD" value="{{lastdetails['vdate'][0:2]}}"accesskey="d">
              <input type="text" id="month" class="date form-control input-sm" size="2" maxlength="2" placeholder="MM" value="{{lastdetails['vdate'][3:5]}}">
              <input type="text" id="year" class="date form-control input-sm" size="4" maxlength="4" placeholder="YYYY" value="{{lastdetails['vdate'][6:]}}">
            </form>
            <br/>

            <form id="vdetails" class="form-horizontal" style="margin:0px" method="POST">
              <label for="pname" id="pname-label">{% trans %}Party <u>N</u>ame{% endtrans %}: </label><label for="pname" style="color:red;font-size: 120%;">*</label>
              <br/>
              <select class="form-control pselect input-sm" id="pname"  name="pname" accesskey="n">
                {% for account in accounts %}
                <option value="{{ account['accountcode'] }}">{{ account["accountname"] }}</option>
                {% endfor %}
              </select>
              <br/>
              <label for="payment-mode" id="payment-mode-label">{% trans %}Pa<u>y</u>ment Mode{% endtrans %}:</label><label for="payment-mode" style="color:red;font-size: 120%;">*</label>
              <select class="form-control pselect input-sm" id="payment-mode" name="payment-mode" accesskey="y">
                <option value="bank">Bank</option>
                <option value="cash">Cash</option>
                <option value="both">Bank & Cash</option>
              </select>
              <br/>

              <div id="amount-container">
                  <label for="amount" id="amount-label">{% trans %}<u>A</u>mount{% endtrans %}: </label><label for="amount" style="color:red;font-size: 120%;">*</label>
                  <br/>
                  <input id="amount" name="amount" class="split-amount form-control input-sm" accesskey="a">
                  <br/>
              </div>

              <div id="split-amount-container">
                  <label for="b-amount">{% trans %}<u>B</u>ank transfer amount{% endtrans %}:</label><label for="b-amount" style="color:red;font-size: 120%;">*</label>
                  <br/>
                  <input id="b-amount" name="b-amount" class="form-control input-sm" accesskey="b">
                  <br/>

                  <label for="c-amount">{% trans %}C<u>a</u>sh transfer amount{% endtrans %}:</label><label for="b-amount" style="color:red;font-size: 120%;">*</label>
                  <br/>
                  <input id="c-amount" name="c-amount" class="form-control input-sm" accesskey="a">
                  <br/>
              </div>

              <label for="narration">{% trans %}Narra<u>t</u>ion{% endtrans %} :</label>
              <textarea class="form-control" name="narration" id="narration" rows="2" cols="70" accesskey="t" style="margin:0"></textarea>
              <small class="form-text text-muted" class="margin:0">Press Enter key twice to save voucher</small>
              <br>
              <br>
        
              <input type="hidden" value="{{ vtype }}" id="vtype" name="vtype"/>
              <button type="submit" class="btn btn-success btn-sm" id="submit" name="submit" accesskey="s">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}
              </button>

              <button id="reset" class="btn btn-danger btn-sm" accesskey="e">
                <i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}
              </button>
	      <button id="addcust" class="btn btn-info btn-sm" accesskey="d"><i class="fa fa-plus" aria-hidden="true"></i> {% if vtype == "receipt" %}{% trans %}A<u>d</u>d Customer{% endtrans %} {% else %} {% trans %}A<u>d</u>d Supplier{% endtrans %}{% endif %}</button>
              <label class="btn btn-primary btn-sm" for="my-file-selector">
                <input name="img" accesskey="h" class="input-sm" id="my-file-selector" type="file" accept=".jpg" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
                <i class="fa fa-paperclip" aria-hidden="true"></i> {% trans %}Attac<u>h</u>{% endtrans %}
              </label>
              <span class='label label-info' id="upload-file-info"></span>
              <small class="form-text text-danger text-muted">(JPG/JPEG images only.)</small>
          </div>
            </form>
	    <div id="payVModal" tabindex="-1" class="modal fade" role="dialog" style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
	      <div class="modal-dialog bgcolor">
		<div class="modal-content ">
		  <div class="modal-header">
		    {% trans %}<strong>Help!</strong>{% endtrans %}
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

		    <p>   <font color=" #566573"> {%trans%}
		      This module helps you to record payment transactions.<br>
		      Select the party to whom payment is to be maid from the dropdown.<br>
		      If the payment is in cash select the cash option, if payment is in the
		      form of cheque, NEFT etc then choose bank.<br>
		      You can also choose to make a combination of two if the payment is
		      partially by cash and partially as NEFT or Cheque.<br>
		      Enter the date for this transaction and click save.<br>
{%endtrans %} </font>

		    </p>
		  </div>

		</div>
	      </div>
	    </div>
	    <div id="recVModal" tabindex="-1" class="modal fade" role="dialog" style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
	      <div class="modal-dialog bgcolor">
		<div class="modal-content ">
		  <div class="modal-header">
		    {% trans %}<strong>Help!</strong>{% endtrans %}
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

		    <p>   <font color=" #566573"> {%trans%}
		      This module helps you to record received amount transactions.<br>
		      Select the party to whom receipt is to be maid from the dropdown.<br>
		      If the payment is in cash select the cash option, if payment is in the
		      form of cheque, NEFT etc then choose bank.<br>
		      You can also choose to make a combination of two if the payment is
		      partially by cash and partially as NEFT or Cheque.<br>
		      Enter the date for this transaction and click save.<br>
		      
{%endtrans %} </font>

		    </p>
		  </div>

		</div>
	      </div>
	    </div>
        </div>
      </div>
    </div>
    </div>
    <div id="viewcustsup"></div>
    <input type="hidden" id="selectedcustsup" value="">
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addvoucherauto.js')}}"></script>
  </body>
<html>
