<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata | Customer and Supplier List{% endtrans %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="panel">
	<div class="panel-heading">
	  <strong>Unadjusted Bills</strong><strong><span id="cstitle" hidden> for </span><span id="csname"></span></strong>
	  <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#accModal"></i>
	</div>
	<div class="panel-body">
	  <div class="container-fluid col-sm-12">
	    <div class="row">
	      <div class="alert alert-warning" id="nochange-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}No changes made!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="bwamount-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Total amount Adjusted is more than Adjustable Amount!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="bwinvamount-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Amount Adjusted is more than Amount Pending for Invoice!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="bwamount-blank-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Please enter Amount Adjusted.{% endtrans %}
	      </div>
	      <div class="alert alert-warning" id="bwfailure-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Something went wrong.{% endtrans %}
	      </div>
	      <div class="alert alert-success" id="bwamount-success-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Amounts Adjusted Successfully!{% endtrans %}
	      </div>
	    </div>
	    <form class="form-inline">
	      <div class="form-group col-sm-2">
		<div class="radio">
		  <label><input type="radio" class="cussup" name="cussup" id="custradio" aria-label="Customer" checked> Customer</label>
		</div>
		<div class="radio">
		  <label><input type="radio" class="cussup" name="cussup" id="supradio" aria-label="Supplier"> Supplier</label>
		</div>
	      </div>
	      <div class="form-group col-sm-10" id="custselectdiv">
		<label for="customerselect">{% trans %}List of Cus<u>t</u>omers{% endtrans %} :</label>
		<select id="customerselect" class="form-control input-sm" accesskey="t">
		  <option value="0" disabled hidden selected>{% trans %}Select Customer{% endtrans %}</option>
		  {% for customer in customers %}
                    <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
		  {% endfor %}
		</select>
	      </div>
	      <div class="form-group col-sm-10" style="display:none;" id="supselectdiv">
		<label for="supplierselect">{% trans %}List of <u>S</u>uppliers{% endtrans %} :</label>
		<select id="supplierselect" class="form-control input-sm" accesskey="s">
		  <option value="0" disabled hidden selected>{% trans %}Select Supplier{% endtrans %}</option>
		  {% for supplier in suppliers %}
                    <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
		  {% endfor %}
		</select>
	      </div>
	    </form>
	  </div>
	  <br>
	  <div class="container-fluid row" id="billwisediv">
	  </div>
	  <small id="txtareahelp" class="form-text text-muted" hidden>Select any voucher using 'Up' / 'Down' key and press 'Enter' key from a selected voucher to move to Uncleared Invoices.<br> Press 'Shift + Enter' to shift from invoice table to voucher table. Press 'Insert' key from any field on the screen to save changes. Press 'End' key from last input field to shift focus to buttons. </small>
	</div>
	<div class="panel-footer" hidden>
          <button type="button" id ="btclose" class="btn footerbutton btn-succes btn-sm"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Done{% endtrans %}</button>
	  <button type="button" id ="btreset" class="btn footerbutton btn-warning btn-sm" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
        </div>
      </div>

      <div id="accModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
	<div class="modal-dialog bgcolor " >
	  <div class="modal-content ">
	    <div class="modal-header">
	      {% trans %}<strong>Help!</strong>{% endtrans %}
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button> </div>
	    <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

	      <p> <font color=" #566573"> {%trans%}
		This module lets you adjust amounts against uncleared invoices.This is particularly helpful when bills are accumulated for a period and then payment is made on a certain date. Please note you may or may not adjust all the bills with a single receipt or payment. Similarly, a single receipt or payment voucher may or may not be entirely utilised to pay all the bills.
</br>
First select a customer if you wish to clear receipts or supplier if payments are to be cleared.</br>
In either case, you will see a screen with 2 sections.</br>
To the left you will see list of vouchers (receipt in case of selected customer and payment in case of supplier).</br>
This section is titled amounts to be adjusted.</br>
Select any of the voucher/ transaction which you wish to adjust against the invoices shown in the right section, titled uncleared invoices.</br>
Note that you can partially or fully clear one or more invoices after selecting the voucher from the left section.</br>
		{% endtrans %} </font>

	      </p>
	    </div>

	  </div>
	</div>
      </div>
      
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/customersupplierlist.js')}}"></script>
  </body>
</html>
