<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #latable td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #latable th {
	 font-size: 85%;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }

     #latable tbody {
	 display:block;
	 height: calc(69vh);
	 overflow-y:scroll;
     }
     #latable thead,#latable tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #latable thead {
	 width: calc( 99.01% );
     }

     .calign{
	 text-align:center;
     }
     .lalign{
	 text-align:left;
     }
     .dtwrap{
	 width :5%
     }
     .smwrap{
	 width:3%
     }
     .smwrap1{
	 width:2.4%
     }

     .lngwrap{
	 width:16%
     }
     .mdwrap{
	 width:8%
     }

    </style>
  </head>
  <body>
  {% if gkresult == [] %}
  <div class="panel shadow">
    <div class="panel-body" style="text-align:center;color:#a94442"><b>
        {% trans %}No Godown found!{% endtrans %}
    </b></div>
  </div>
    {% else %}
    <div class="col-xs-10 nopadding">
      <span style="margin-left:50%; display:table; font-size:120%;"><strong>
        {% trans %}List of Godowns{% endtrans %}
        </strong></span>
    </div>
    <div class="pull-right input-group input-group-sm " style="margin-bottom:2px;">
      <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
      </span>
      <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
      <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
      </span>
    </div>
    <table id="latable" class="table shadow table-bordered">
      <thead class="bg-primary">
	<tr>
          <th class="smwrap1 calign" >
            {% trans %}Sr.No.{% endtrans %}
          </th>
          <th class="mdwrap lalign">
            {% trans %}Godown Name{% endtrans %}
          </th>
          <th class="lngwrap lalign">
            {% trans %}Address{% endtrans %}
          </th>
          <th class="dtwrap lalign">
            {% trans %}Contact Person{% endtrans %}
          </th>
          <th class="dtwrap lalign">
            {% trans %}Contact Number{% endtrans %}
          </th>
          <th class="smwrap lalign">
            {% trans %}Status{% endtrans %}
            
          </th>
	</tr>
      </thead>
      <tbody>

	{% for record in gkresult %}
	  <tr	value="{{record["godownid"]}}">
            <td class="smwrap1 calign" >
              {{record["srno"]}}
            </td>
            <td class="mdwrap lalign">
              {{record["godownname"]}}
            </td>
            <td class="lngwrap lalign" >
              {{record["godownaddress"]}}, {{record["godownstate"]}}
            </td>
            <td class="dtwrap lalign" >
              {{record["godowncontactname"]}}
            </td>
            <td class="dtwrap lalign" >
              {{record["godowncontact"]}}
            </td>
            {% if record["godownstatus"] == "Active" %}
              <td class="smwrap lalign text-success">
		{{record["godownstatus"]}}
              </td>
            {%endif%}
	  </tr>
	{% endfor %}

      </tbody>
    </table>
    <span style="margin:auto; display:table;">
      <nbsp><nbsp>
	<button type="button" id="report_back" accesskey="k" class="btn btn-sm btn-danger">Bac<u>k</u></button>
	<button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>
	<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>
    </span>
    {% endif %}
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofgodowns.js')}}"></script>
    
</body>
</html>
