<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-Frame-Options" content="deny">
  <title>
    {% trans %}GNUKhata{% endtrans %}
  </title>

  <style>
  #ticker {
    display: none;
  }
  @media (max-width: 767px) {
    .mainbox {
      margin-top: 50px;
    }
    .panel-body {
      background-color: white;
      color: black;
    }
    #forgotpassworddiv{
      background-color: white;
      color: black;
    }
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
		background: inherit;
}
  </style>

  <!-- ClickJacking Defence Code -->
  <style id="antiClickjack">body{display:none !important;}</style>
  <script type="text/javascript">
     if (self === top) {
          var antiClickjack = document.getElementById("antiClickjack");
          antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
          top.location = self.location;
      }
  </script>

</head>
<body>
  <div class="container-fluid" id="ticker">
    <ul class="shadow" style="list-style-type: none; margin-top: 30px; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
      <li style="float: left;"><a data-toggle="tab"; style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
      <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
    </ul>
  </div>
  <div id="loader" class="container-fluid">
    <div id="forgotpassworddiv" class="mainbox"z>
      <div class="alert alert-danger" id="login_username-blank-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Please enter username!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="password-blank-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Please enter password!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="login-blank-alert" aria-live="rude" role="alert" hidden>


        {% trans %}Username or Password is incorrect!{% endtrans %}
      </div>
      <div id="signin" class="panel shadow col-sm-6 col-sm-offset-3" style="padding:0 !important;" >
        <div class="panel-heading">
          <div class="panel-title">{% trans %}Sign In{% endtrans %}</div>

        </div>
        <div style="padding-top:30px;" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 15px" class="input-group col-xs-12">
              <label for="login_username">{% trans %}<u>U</u>sername :{% endtrans %}</label>
              <input style="border-radius: 4px" id="login_username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="u"></input>
            </div>

            <div style="margin-bottom: 15px" class="input-group col-xs-12">
              <label for="userpassword">{% trans %}<u>P</u>assword :{% endtrans %}</label>
              <input id="userpassword" style="border-radius: 4px" type="password" class="form-control col-xs-12" name="userpassword" accesskey="p"></input>
            
            </div>

            <div style="margin-bottom: 5px" class="input-group col-xs-12">
              <a id="forgotpwdlink" href="" aria-label="Forgot Password Link" accesskey="f">{% trans %}<u>F</u>orgot Password?{% endtrans %}</a>
            </div>
            <input id="orgcode"  name="orgcode" value="{{code}}" class="form-control" style="display: none;"></input>
            <input id="flag"  name="flag" value="{{flag}}" class="form-control" style="display:none;"></input>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="login" type="submit" class="btn btn-success btn-sm" accesskey="l"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 5px;"></span>{% trans %}<u>L</u>ogin{% endtrans %}</button>
                <button id="changeorg" class="btn btn-warning btn-sm" accesskey="c"><span class="glyphicon glyphicon-refresh" style="margin-right: 5px;"></span>{% trans %}<u>C</u>hange Company{% endtrans %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="loginspinmodal" tabindex="-1" class="modal text-center fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-content vertical-align-center">
          <div class="modal-body">
            <i class="fa fa-spinner fa-spin" style="color:white; font-size:50px"></i>
          </div>
        </div>
    </div>
  </div>
  
  <!-- ClickJacking Defence Code -->
  <style type="text/css" id="antiClickjack">body{display:none !important;}</style>
  <script type="text/javascript">
      if (self === top) {
          var antiClickjack = document.getElementById("antiClickjack");
          antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
          top.location = self.location;
      }
  </script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/login.js')}}"></script>
</body>

</html>
