<!DOCTYPE html>
<html lang="en">
<head>
<title>{% trans %}GNUKhata{% endtrans %}</title>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% trans %}Consolidated Final Accounts.{% endtrans %}</h3>
                  </div>
                  <div class="panel-body" style="padding-top:5px">
                      <div style="margin-bottom: 5px" class="col-xs-12 from-group">
                          <div class="alert alert-danger" id="selorg-blank-alert" hidden>
                            {% trans %}Please select organisation!{% endtrans %}
                          </div>
                          <label >{% trans %}Select Holding Organisation {% endtrans %} :</label>
                          <select class = "form-control input-sm" id="holdingorglist" style="width:350px"></select>
                            <small id="txtareahelp" class="form-text text-muted">{% trans %}Select Holding Organisation and press 'Enter' key.{% endtrans %}</small>
</br>
                          <button class="btn btn-primary btn-sm" id ="confirm1" name="next" accesskey="n">{% trans %}<u>N</u>ext{% endtrans %}</button>
                          <button id="report_back" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<u>B</u>ack{% endtrans %}</button>
                          
</br>
                        <div class="form-group" id="subsidiary_div" hidden>
                        </br>
                        <div class="alert alert-danger" id="selorg-blank-alert1" hidden>
                          {% trans %}Please select organisation!{% endtrans %}
                        </div>
                          <label >{% trans %}Select Subsidiary Organisation {% endtrans %} :</label>
                        <select class = "form-control input-sm" id="list" name="test[]" style="width:350px"></select>
                        <small id="txtareahelp" class="form-text text-muted">{% trans %}Select Subsidiary Organisation and press 'Enter' key.{% endtrans %}</small>
                      </br>
                    </br>
                        <label >{% trans %}List of Selected Subsidiary Organisation {% endtrans %} :</label>
                      </br>  <span id="span1">No Subsidiary Organisation is Selected.</span>
                        <ul class="list-group" id="selected" name="selectedorg" style="width:350px"></ul>
                      </br>
                        <div class="footer">
                        <button type="button" class="btn btn-primary btn-sm" id ="confirm" class="btn" accesskey="s">{% trans %}<u>S</u>ubmit{% endtrans %}</button>
                        <button type="button" class="btn btn-warning btn-sm" id="cancel_btn" accesskey="e" data-dismiss="modal" class="btn">{% trans %}R<u>e</u>set{% endtrans %}</button>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>


</div>

<!--Authentication model-->
<div id="authenticate" class="modal fade" tabindex="-1" role="dialog">

<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-sm vertical-align-center">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>{% trans %}Authentication for the selected organisation{% endtrans %}</h4>
	
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
            Organisation Authentication Successful.
          </div>
        </div>
        <div class="container-fluid">
          <div class="alert alert-danger" id="danger-alert"  aria-live="rude" role="alert" hidden>
            Please enter username and password!
          </div>
        </div>
        <div class="container-fluid">
          <div class="alert alert-danger" id="wrong-alert"  aria-live="rude" role="alert" hidden>
            Username or password is incorrect!
          </div>
        </div>
        <div class="container-fluid">
          <div class="alert alert-danger" id="user-alert"  aria-live="rude" role="alert" hidden>
            Enter Username.
          </div>
        </div>
        <div class="container-fluid">
          <div class="alert alert-danger" id="password-alert"  aria-live="rude" role="alert" hidden>
            Enter Password.
          </div>
        </div>
        <label>Username: </label><input type="textbox" id="user_name"/>
      </br>
        <label>Password: </label><input type="password" id="user_pwd"/>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" id ="submit" class="btn">{% trans %}Submit{% endtrans %}</button>
        <button type="button" id="cancel" class="btn btn-warning btn-sm" data-dismiss="modal" class="btn">{% trans %}Cancel{% endtrans %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div><!-- /.modal -->

<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/showconsolidationpopup.js')}}"></script>
</body>
</html>
