<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Project Statement{% endtrans %}</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 id = "prjhead" class="panel-title">{% trans %} Project Statement{% endtrans %}
        <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#ProjSModal"></i></h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewprjstate_todate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewprjstate_todate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="failure-alert1" aria-live="rude" role="alert" hidden>

          {% trans %}No Projects Found.{% endtrans %}
        </div>
        <div class="alert alert-danger" id="account-blank-alert" aria-live="rude" role="alert" hidden>

          <label id="prjalert" for="viewprjstate_prjname">{% trans %}Please select a project!{% endtrans %}</label>
        </div>
        <div style="margin-bottom: 5px" class="col-xs-12 from-group" id="prj_period">
          <label for="viewprjstate_fromdate">{% trans %}From Date{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewprjstate_date form-control input-sm dis" id="viewprjstate_fromdate" disabled value="" size="2" maxlength="2" placeholder="DD">
              <input type="text" id="viewprjstate_frommonth" class="viewprjstate_date dis form-control input-sm" disabled value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewprjstate_fromyear" class="viewprjstate_date dis form-control input-sm" disabled value="" size="4" maxlength="4" placeholder="YYYY">
            </div>

          </div>
          <br>
          <label for="viewprjstate_todate">{% trans %}To <u>D</u>ate{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewprjstate_date form-control input-sm dis" id="viewprjstate_todate" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewprjstate_tomonth" class="viewprjstate_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewprjstate_toyear" class="viewprjstate_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY">
            </div>
          </div>
          <br>
          {% if  projects %}
            <label id = "prjnamelbl" for="viewprjstate_prjname">{% trans %}Pro<u>j</u>ect Name{% endtrans %} :</label>
	    <label for="prjnamelbl" style="color:red;font-size: 120%;">*</label>
          <select class = "form-control input-sm dis" id="viewprjstate_prjname"  name = "viewprjstate_prjname" accesskey="j">
            <option value="" disabled hidden selected>{% trans %}Please select{% endtrans %}</option>
            {% for prj in projects %}
            <option value="{{prj['projectcode']}}">{{prj["projectname"]}}</option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
      </div>

      <div id="ProjSModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:320px;"  aria-hidden="true">
  <div class="modal-dialog bgcolor " >
    <div class="modal-content ">
    <div class="modal-header">
      {% trans %}<strong>Help!</strong>{% endtrans %}
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

       <p>   <font color=" #566573"> {%trans%}
Project/Cost Center Statement <br>
The period of this report must begin with the first date of the Financial Year and can end on any date. <br>
Select name of the Project/Cost Center for which the statement is to be seen. This statement gives account wise expenses relating to it.
{% endtrans %} </font>

        </p>
      </div>

    </div>
  </div>
</div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewprjstate_submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
        <button id="viewprjstate_reset" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
        <button id="report_back" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<u>B</u>ack{% endtrans %}</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewprojectstatement.js')}}"></script>
</body>
</html>
